{% include "../header.html" %}
{% load static %}
{% url 'courses:courses_index' as courses %}



<div class="wrap">
    <section class="info-block left">
        <div class="text-block">
            <h2 class="section-main">Учитесь там, где есть интернет</h2>
            <p class="text">Онлайн-школа с 1 по 11 класс для тех, кто не может посещать обычную школу. Учитесь, где удобно и когда удобно!</p>
        </div>
        
        <img src="{% static 'img/man-computer-book.png' %}"  alt="man-computer-book" class="medium-img">
    </section>
    <section class="info-block right">
        <img src="{% static 'img/man-screen-book.png' %}"  alt="man-computer-book" class="medium-img">
        <div  class="text-block">
            <h2 class="section-main">ОНЛАЙН-ШКОЛА</h2>
            <p class="text">Одна из ведущих онлайн-школ России, которая даёт полноценное обучение с 1 по 11 класс.
                 Все ученики, успешно сдавшие экзамены, получают аттестат государственного образца, который признается всеми ВУЗами России.
            </p>
        </div>
        
    </section>
    <a 
        class="to-lessons-btn btn btn-primary" 
        href="{{ courses }}"
    >
        Посмотреть курсы
    </a>
    
</div>

{% include "../footer.html" %}