.items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.lessons-list {
    margin: 40px 0;
}

.order-form-container {
    margin-left: 60%;
    
}

.order-form__btn {
    border-radius: 15px;
    border: 1px gray solid;
}
