.tasks
{
    margin-top: 20px;
}
.inp-group
{
    margin: 10px;
    border: 1px gray solid;
    border-radius: 15px;
    padding: 20px;
}

.form-btn 
{
    margin-top: 20px;
}


.create-new
{
    margin: 20px;

    width: 80%;
    border: 1px gray solid;
    border-radius: 15px;

    padding: 20px;

}

#open-form {
    display: inline-block;
    margin: 20px auto;
    height: fit-content;
}