
{% load static %}
{% load getattribute %}


{% include "../header.html" %}

<div  class="create-new">
    <div  class="new-item-form">

        <form method="POST" action="{% url 'courses:update' id=course.id %}" id="new-lesson-form"  class="join-form">
            {% csrf_token %}
            {% if form %}
                {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                        {% endif %}
                        <div class="form-group">
                
                            <label for="{{ field.name }}">{{ field.label }} курса</label>
                            <input  type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}"  value="{{ course|getattribute:field.name }}">
                        </div>
                {% endfor %}

            {% endif %}

            <button  onclick="closeNewLessonForm()" type="submit" class="form-btn btn btn-primary">Подтвердить</button>
        </form>
    </div>
</div>


{% include "../footer.html" %}