{% load static %}
{% include "../header.html" %}


    <div class="order-form-container">
        <form method="GET" action="{% url 'courses:index' %}">
            <button class="order-form__btn">
                Подтвердить
            </button>
            <input style="display: none;" name="search" value="{{ search }}">
            <select name="select">
                <!--Supplement an id here instead of using 'name'-->
                <option value="title" selected>название</option>
                <option value="cost">Цена по возрастанию</option>
                <option value="-cost">Цена по убыванию</option>
            </select>
        </form>
    </div>
    

    {% include "./new_lesson_menu.html" %}


    <div class="items-container ">
        {% if courses %}
            {% for course in courses %}
            <div class="lesson">
                <a 
                    class="link" 
                    href="/courses/{{ course.id }}"
                >
                    <img src="{% static 'img/man-computer-book.png' %}" alt="lesson-preview" class="lesson__img">
                    <div class="lesson__text-block">
                        <h3 class="lesson__name">{{ course.title }}</h3>
                        <p class="lesson__description">{{ course.description|truncatewords:15 }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <h3 style="text-align: center; margin-bottom: 80px;">
                 Нет совподающих результатов
            </h3>

        {% endif %}
    </div>




{% include "../footer.html" %}