<div class="modal-window">
    <h2 class="title">Запись на курс</h2>
    <form class="join-form">
        <div class="inp">
            <p class="inp__description">Введите ваше имя:</p>
            <input type="text" class="inp__text" placeholder="Ваше имя" name="name">
        </div>

        <div class="inp">
            <p class="inp__description">Введите контактный телефон:</p>
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="inp__text" placeholder="+7 900 900 90 90" name="phone_number">
        </div>

        <button onclick="sendForm()" class="modal-submit-btn btn btn-primary">Отправить</button>
    </form>
</div>