<button  class="form-btn btn btn-secondary" id="open-form" onclick="openNewLessonForm()">Создать новый курс</button>
<div  class="create-new" style="display: none;">
    <div  class="new-item-form">
        <button onclick="closeNewLessonForm()" class="close-menu-btn no-style-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 32 32">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </button>
        <form method="POST" action="{% url 'courses:create' %}" id="new-lesson-form"  class="join-form">
            {% csrf_token %}
            {% if form %}
                {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.errors|escape }}</strong>
                        </div>
                        {% endif %}
                        <div class="form-group">
                
                            <label for="{{ field.name }}">{{ field.label }} курса</label>
                            <input  type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}"  placeholder="Enter {{ field.name }}">
                        </div>
                {% endfor %}

            {% endif %}

            <button  onclick="closeNewLessonForm()" type="submit" class="form-btn btn btn-primary">Подтвердить</button>
        </form>
    </div>
</div>