<button  class="form-btn btn btn-secondary" id="open-form" onclick="openForm()">Создать новый курс</button>
<div  class="create-new" style="display: none;">
    <div  class="new-item-form">

        <form  class="join-form">
            <div class="form-group">
                <label for="name">Название курса</label>
                <input  type="text" class="form-control" id="name"  placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="description">Описание курса</label>
                <input  type="text" class="form-control" id="description" placeholder="Enter description">
            </div>
            <div class="form-group">
                <label for="cost">Цена курса</label>
                <input  type="text" class="form-control" id="cost"  placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="duration">Продолжительность курса</label>
                <input  type="text" class="form-control" id="duration" placeholder="Enter name">
            </div>
            <button  onclick="closeForm()" type="submit" class="form-btn btn btn-primary">Подтвердить</button>
        </form>
    </div>
</div>