
{% load static %}
{% include "../header.html" %}


{% include "./modal-window.html" %}


<h2 v-if="lesson" class="name">
    {{ course.title }}
</h2>
<div class="params">
    <p v-if="lesson" class="cost param">Цена: <span class="value">{{ course.cost }}</span> р.</p>
    <p v-if="lesson" class="duration param">Продолжительность: <span class="value">{{ course.duration }} </span>мес.</p>
</div>
<div v-if="lesson" class="description">
    <p class="description__text">{{ course.description }}</p>

    <img src="{% static 'img/man-computer-book.png' %}" class="medium-img" alt="">
</div>
<button onclick="openModalWindow()" class="join btn btn-primary">Записаться</button>



<div class="reviews">
    <h3 v-if="reviews" class="title">Отзывы</h3>
    <button onclick="openReviewForm()" type="button" class="btn btn-secondary menu-item__button">Оставить озыв</button>
    <div  class="new-review-form">
        <form class="join-form">
            
            <div class="inp">
                <p  class="inp__description">Текст отзыва: <button  onclick="closeReviewForm()" class=" btn btn-light close">Close</button></p>
                <input type="text" class="inp__text" placeholder="Введите текст" name="name"  required >
            </div>

            <button  onclick="checkReviewForm()"  class="review-submit-btn btn btn-primary">Оставить отзыв</button>
        </form>
    </div>
    <div class="reviews__container">
        {% for review in reviews %}
            
        {% endfor %}
    </div>
</div>

{% include "../footer.html" %}