.left-menu-wrap
{
    height: 100vh;

}

.menu
{
    padding: 0;
    margin: 40px 0;
    list-style: none;
    width: 60%;

    &-item {
        display: flex;
        
        margin: 20px 0;

        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 15px;

        &__button
        {
            font-size: 25px !important;
            
            background: #0d6efd;
            
            width: 100%;
            height: 100%;
        }
    }

    
}


@media (max-width: 768px) {

    .menu {

        width: 90%;

        &-item {
 
            height: 40px;

            &__button
            {
                font-size: 15px !important;
            }
        }
    }
}



