{% load static %}
{% url 'courses:index' as courses %}
{% url 'main' as main %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CourseExam2022</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'courses/js/courses.js' %}"></script>
 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    {% include "./modal-window.html" %}
<header class="header">

    


    <div class="inner container-left"> 
        <div class="logo">
            <p class="logo__text">
                WEB class
            </p>
        </div>
    </div>
  

    <div class="inner container-right row-flex">
        <form method="GET" action="{% url 'courses:index' %}" class="search">
            {% if search %}
                <input class="search__input" name="search" type="text" placeholder="Поиск" value="{{ search }}">
            {% else %}
                <input class="search__input" name="search" type="text" placeholder="Поиск">
            {% endif %}
                
            <button class="no-style-btn search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <p class="icon__text">Gorshenin Andrew</p>
        </div>
    </div>

        

</header>

    <main class="main-container">
        <div class="container-left column-flex left-menu-wrap">
            <ul class="menu">
                <li class="menu-item">
                    <a 
                        class="menu-item__button btn btn-primary" 
                        href="{{ main }}"
                    >
                        Главная
                    </a>
                </li>
                <li class="menu-item">
                    <a 
                        class="menu-item__button btn btn-primary"
                        href="{{ courses }}"
                    >
                        Курсы
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="container-right column-flex">
 