{% load static %}
{% url 'courses:index' as courses %}
{% url 'main' as main %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WEBEXAM2023</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>

    
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'courses/js/courses.js' %}"></script>
 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>

<header class="header">
    <div class="inner container-left"> 
        <div class="logo">
            <p class="logo__text">
                WEBclass
            </p>
        </div>
    </div>
  

    <div class="inner container-right row-flex">
        <div class="search">
            <input class="search__input" type="text" placeholder="Поиск">
        </div>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <p class="icon__text">Gorshenin Andrew</p>
        </div>
    </div>

        

</header>

    <main class="main-container">
        <div class="container-left column-flex">
            <ul class="menu">
                <li class="menu-item">
                    <a 
                        class="menu-item__button btn btn-primary" 
                        href="{{ main }}"
                    >
                        Главная
                    </a>
                </li>
                <li class="menu-item">
                    <a 
                        class="menu-item__button btn btn-primary"
                        href="{{ courses }}"
                    >
                        Курсы
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="container-right column-flex">
 